
@model RRRaves.Web.Models.WebReview

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()

<h2>Edit Review</h2>

@using (Html.BeginForm("EditR", "Review"))
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Rating)
        @Html.EditorFor(model => model.Rating)
        @Html.ValidationMessageFor(model => model.Rating)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReviewText)
        @Html.EditorFor(model => model.ReviewText)
        @Html.ValidationMessageFor(model => model.ReviewText)
    </div>
    @Html.HiddenFor(model => model.Restaurant)
    @Html.HiddenFor(model => model.ReviewID)


    <button type="submit" class="btn btn-primary">Submit</button>
}

