@model RRRaves.Web.Models.WebRestaurant

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row my-2">
    <div class="col-sm-12">
        <h2>Delete</h2>
    </div>
    <div class="col-sm-12">
        <p>Are you sure you want to delete this restaurant?</p>
    </div>
</div>
<div class="row my-2">
    @Html.Partial("_RestaurantCardSimple", Model)
</div>
<div class="row my-2">
    <div class="col-sm-6">
        @using (Html.BeginForm("Delete"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Address)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.Zipcode)
        @Html.HiddenFor(model => model.Phone)
        @Html.HiddenFor(model => model.Website)
        @Html.HiddenFor(model => model.RestaurantID)
        @Html.HiddenFor(model => model.AveRating)
        <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
}
    </div>
    <div class="col-sm-6">
        @Html.ActionLink("Cancel", "Index", "Restaurant", null, new { @class = "btn btn-primary" })
    </div>
</div>